body{
    overflow: hidden !important;
    
}

.c1{
    width: 100px;
}
.c2{
    width: 400px;
}
.c3{
    width: 100px;
}
.c4{
    width: 200px;
}

.c1_fornecedores{
    width: 155px;
}
.c2_fornecedores{
    width: 450px;
}
.c3_fornecedores{
    width: 153px;
}

.c1_fornecedoresAdd{
    width: 20%;
}
.c2_fornecedoresAdd{
    width: 50%;
}
.c3_fornecedoresAdd{
    width: 30%;
}


.img_foto{
    width: 75px;
    height: 100px;
    border-radius: 5px;
    border: 1px solid black;
    
}

.grid_listaContatosFornecedorAdd{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}

.grid_contatosFornecedor{
    display: flex !important;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100% !important;
}

.dadosGrid_fornecedores{ 
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}

.novaLinhaContato{
    width: 100% !important;
}
.novoContatoFornecedor{
    width: 100%

}

#tituloGrid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: var(--azul-principal);
    width: inherit;
}